<img src="../../assets/images/foto.jpg" alt ="no foto" class="foto" >

<div class="contenedor">
    <div class="cuadro"   id ="datosP">
        <h3>Datos Personales:</h3>

        Edad: 21 años <br>
        Ocupación: Estudiante<br>
        Dirección: calle 39 I # 72 f 53 <br>
        Correo: oaespitias@correo.udistrital.edu.co<br>
    </div>
    
    <div class="cuadro"   id ="estudios">
        <h3>Formación academica</h3>
        Institución: IED La Chucua <br>
        Dirección: calle 39 I # 72 f 53 <br>
        Correo: oaespitias@correo.udistrital.edu.co<br>
    </div>

    <div class="cuadro"   id ="personal">
        <h3>Gustos personales</h3>
        Comida favorita: pizza <br>
        Géneros musicales: rock, salsa, baladas, racheras, y de todo un poquito jajajaja<br>
        ¿Perros o gatos?: los dos <br>
        
    </div>
</div>
